
#Conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
}


#GU-Container {
    border-radius: 1vw;
    margin-bottom: 1.5vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 5vw;
    overflow-y: auto;
    margin-top: 2%;
    height: 65%;
    width: 70%;
    padding: 3vw;
    background-color: white;    
}

.Unidade-Container {
    width: 80%;
    padding: 0 5%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 5vw;
    background-color: white;
    border-bottom: 0.2vw solid black;
}
.Unidade-Container aside{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 100%;
}
.Unidade-Container button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    height: 4vw;
    padding: 0.5rem;
    border-radius: 10%;
    background-color: Transparent;
    border: none;
}
.Unidade-Container button img{
    width: 2vw;
    height: 2vw;
}
.Unidade-Container button:hover img{
    cursor: pointer;
    filter: invert(50%);
}
.Unidade-Container aside p, h3{
    font-size: 1.3vw;
}

@keyframes changeDeleteButton {
    50%,100%{
        transform:rotate(360deg);
        filter: invert(100%) ;
    }
}



#deleting{
    background-color: #E51C1C;
   
}

#deleting img{
    animation: changeDeleteButton 0.5s forwards 0.5ms ;
    transition: 0.5
}

#sem-unidades{
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    padding:  5rem;
    border-radius:  20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
}
#nova-unidade{
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(8, 92, 237, 0.858);
    color: white;
    cursor: pointer;
    transition: .3s;
}

#nova-unidade:hover{
    transform: scale(1.2);
    background-color:  rgba(8, 92, 237, 1);
}


/* width */
::-webkit-scrollbar {
    width: 0.7vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(29, 29, 29); 
  }