#grid-unidades{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding: 5rem;
    gap: 1rem;
}

.card-unidade button{
    background: transparent;
    margin: 0.1rem;
    border: none
}

.icon{
    height: 1.5vw;
    width: 1.5vw;
}